.oneBtn-effect {
  position: relative;
  background-color: $white_color;
  @include setAllSideBorder(1px, $main_color);
  color: $white_color;
  z-index: 1;
  @include rounded(4px);
  transition: $main_transition;
  &::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: $main_color;
    transition: $main_transition;
  }
  &:hover {
    color: $black_color;
  }
  &:hover::before {
    width: 0%;
  }
}